{
    "plugins": [
        "stylelint-csstree-validator"
    ],
    "rules": {
        "at-rule-name-case": "lower",
        "at-rule-no-unknown": true,
        "at-rule-no-vendor-prefix": true,
        "at-rule-semicolon-newline-after": "always",
        "block-closing-brace-newline-after": ["always", {"ignoreAtRules": ["if", "else"]}],
        "block-no-empty": true,
        "color-hex-case": "lower",
        "color-no-invalid-hex": true,
        "declaration-block-no-duplicate-properties": true,
        "declaration-block-no-shorthand-property-overrides": true,
        "declaration-block-trailing-semicolon": "always",
        "function-linear-gradient-no-nonstandard-direction": true,
        "function-name-case": "lower",
        "media-feature-name-no-vendor-prefix": true,
        "no-unknown-animations": true,
        "property-case": "lower",
        "property-no-unknown": true,
        "property-no-vendor-prefix": true,
        "selector-max-empty-lines": 0,
        "selector-pseudo-class-case": "lower",
        "selector-pseudo-class-no-unknown": [true, {"ignorePseudoClasses": ["global"]}],
        "selector-pseudo-element-case": "lower",
        "selector-pseudo-element-no-unknown": true,
        "selector-type-case": "lower",
        "selector-type-no-unknown": true,
        "unit-case": "lower",
        "unit-no-unknown": true,
        "value-keyword-case": "lower",
        "value-no-vendor-prefix": true,

        "at-rule-name-space-after": ["always", {"severity": "warning"}],
        "block-opening-brace-newline-after": ["always", {"severity": "warning"}],
        "block-closing-brace-newline-before": ["always", {"severity": "warning"}],
        "block-opening-brace-space-before": ["always", {"severity": "warning"}],
        "declaration-bang-space-after": ["never", {"severity": "warning"}],
        "declaration-bang-space-before": ["always", {"severity": "warning"}],
        "declaration-block-semicolon-newline-after": ["always", {"severity": "warning"}],
        "declaration-block-semicolon-newline-before": ["never-multi-line", {"severity": "warning"}],
        "declaration-block-semicolon-space-before": ["never", {"severity": "warning"}],
        "declaration-colon-space-after": ["always", {"severity": "warning"}],
        "declaration-colon-space-before": ["never", {"severity": "warning"}],
        "function-comma-newline-before": ["never-multi-line", {"severity": "warning"}],
        "function-comma-space-after": ["always", {"severity": "warning"}],
        "function-comma-space-before": ["never", {"severity": "warning"}],
        "function-max-empty-lines": [0, {"severity": "warning"}],
        "function-whitespace-after": ["always", {"severity": "warning"}],
        "indentation": [4, {"severity": "warning"}],
        "length-zero-no-unit": [true, {"severity": "warning"}],
        "media-feature-colon-space-after": ["always", {"severity": "warning"}],
        "media-feature-colon-space-before": ["never", {"severity": "warning"}],
        "media-feature-parentheses-space-inside": ["never", {"severity": "warning"}],
        "media-feature-range-operator-space-after": ["always", {"severity": "warning"}],
        "media-feature-range-operator-space-before": ["always", {"severity": "warning"}],
        "media-query-list-comma-newline-before": ["never-multi-line", {"severity": "warning"}],
        "media-query-list-comma-space-after": ["always-single-line", {"severity": "warning"}],
        "media-query-list-comma-space-before": ["never", {"severity": "warning"}],
        "no-eol-whitespace": [true, {"severity": "warning"}],
        "no-extra-semicolons": [true, {"severity": "warning"}],
        "number-no-trailing-zeros": [true, {"severity": "warning"}],
        "selector-attribute-brackets-space-inside": ["always", {"severity": "warning"}],
        "selector-attribute-operator-space-after": ["never", {"severity": "warning"}],
        "selector-attribute-operator-space-before": ["never", {"severity": "warning"}],
        "selector-combinator-space-after": ["always", {"severity": "warning"}],
        "selector-combinator-space-before": ["always", {"severity": "warning"}],
        "selector-list-comma-newline-before": ["never-multi-line", {"severity": "warning"}],
        "selector-list-comma-space-after": ["always", {"severity": "warning"}],
        "selector-list-comma-space-before": ["never", {"severity": "warning"}],
        "selector-pseudo-class-parentheses-space-inside": ["never", {"severity": "warning"}],
        "selector-pseudo-element-colon-notation": ["double", {"severity": "warning"}],
        "shorthand-property-no-redundant-values": [true, {"severity": "warning"}],
        "time-min-milliseconds": [100, {"severity": "warning"}],
        "value-list-comma-space-after": ["always", {"severity": "warning"}],
        "value-list-comma-space-before": ["never", {"severity": "warning"}]
    }
}
